@{
    ViewData["Title"] = "Привет!";
}

<div class="center">
    <h1 class="center">Добро пожаловать!</h1>

     <div class="center" style="margin-top:3%"> 
        <a class="btn btn-primary btn-lg" asp-controller="Users" asp-action="Authenticate">Войти</a>
    </div>
    <h5 class="center">Пишите! Отвечайте!</h5>
    
    <h5 class="center" style="margin-top:6%">Регистрируйтесь всего за минуту и делитесь мыслями</h5>
    <div class="center" style="margin-top:1%">
        <a class="btn btn-success btn-lg" asp-controller="Users" asp-action="Register">Зарегистрироваться</a>
    </div>
</div>
