<div class="text-center">
    <div>
        <p>Статья <b>@Model.Title</b> добавлена</p>
        <p style="margin-top:5%"><a class="text-blue" asp-area="" asp-controller="Articles" asp-action="Index">Перейти к списку статей</a></p>
    </div>
</div>
