<div class="text-center">
    <div>
        <p>Роль <b>@Model.Role_Name</b> добавлена</p>
        <p style="margin-top:5%"><a class="text-blue" asp-area="" asp-controller="Roles" asp-action="Index">Перейти к списку всех ролей</a></p>
    </div>
</div>