<div class="text-center">
    <div>
        <p>Тег <b>@Model.Content</b> добавлен</p>
        <p style="margin-top:5%"><a class="text-blue" asp-area="" asp-controller="Tags" asp-action="Index">Перейти к списку всех тегов</a></p>
    </div>
</div>
